# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized

**Objectives**
 * List the popular languages for Data Science
 * List the common libraries used in Data Science
 * perform simple arithmetic operations

Some of the popular languages that Data Scientist use are:
1. SQL
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. TensorFlow
4. PyTorch

|Data Science Tools|
-------------------
|Jupyter Notebook|
|R Studio|
|Watson Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

This is a simple arithmetic expression to multiply then add intergers

In [3]:
(3*4)+5

17

This will convert 200 inutes to hours by dividing by 60

In [7]:
200/60

3.3333333333333335

## Author
Philani